#navigation-container {
  width: 100%;
  margin-left: 0%;
  height: 5%;
}


.navigation-bar ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  display:inline-flex;
  vertical-align:top;
  background-color: #7694ff;
  overflow: hidden;
  float: right;
  height: 5%;
}

html, body
{
    height: 100%;
    min-height: 100%;
}


.banner-area {
  padding: 10px;
  background: #e3e3ff;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 85px;
  bottom: 0px;
}
