@import "navigation.css";

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 400;
}

p
{
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 200;
  font-size: 17px;

}

li a {
  font-family: "Poppins", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover {
  background-color: #5E76CC;
}

.welcome_message
{

  width: 35%;
  padding: 100px ;
  margin-left: 0%;

}

.primary-btn
{
  font-family: "Poppins", sans-serif;
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  text-transform: uppercase;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
}

.primary-btn:hover {
  color: #ebeae8;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}


.main_image
{
  position: absolute;
  right: 5%;
  bottom: 20%;
  top: 15%
}
