<!DOCTYPE html>
<html>
	<head >
		<!-- Mobile compatibility -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title> Search for studies </title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

			<!-- CSS -->
			<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

	</head>

	<body>

		<div class="navigation-bar">
	        <div id="navigation-container">
	            <img src="{{ url_for('static', filename='img/logo.png') }}" width="5%" height="5%">
	            <ul>
	                <li><a href="{{ url_for('home') }}">Home</a></li>
	                <li><a href="{{ url_for('search_page') }}">Search</a></li>
	                <li><a href="{{url_for('developers')}}">Developers</a></li>
	            </ul>
	        </div>
    	</div>

    	<div class="banner-area">

            <div class="image">
            	<img src="{{ url_for('static', filename='img/search.png') }}", alt="search" >
            </div>

	    	<div class= "inv_container">
		    	<div class="invitation">
		    		<h3>
						Over 2 million students
						have found their perfect postgrad program with us
					</h3>
					<h3 style="color:#9966ff;">
						Why not join them?
					</h3>
		    	</div>
	    	</div>


			<div id="cover">
			  <form action= "http://localhost:5000/search_uni" method="post">
			    <div class="tb">
			      <div class="td">


			      		<input type="text" placeholder="Search by uniID" name="uni">



			      	</div>

			      <div class="td" id="s-cover">
			        <button type="submit" value="submit">
			          <div id="s-circle">
			          </div>
			          <span></span>
			        </button>
			      </div>
			    </div>
			  </form>
			</div>

			<div id="cover_2">
			  <form action= "http://localhost:5000/search_domain" method="post">
			    <div class="tb">
			      <div class="td">


			      		<input type="text" placeholder="Search by domain" name="domain">



			      	</div>

			      <div class="td" id="s-cover">
			        <button type="submit" value="submit">
			          <div id="s-circle">
			          </div>
			          <span></span>
			        </button>
			      </div>
			    </div>
			  </form>
			</div>
		</div>


	</body>
</html>
