<!DOCTYPE html>
<html>
	<head >
		<!-- Mobile compatibility -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title> PostgraDB </title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 

			<!-- CSS -->
			<link rel="stylesheet" href="{{ url_for('static', filename='css/subjects.css') }}">


	</head>

	<body>
		<!--main menu remains the same for every html page-->
		<div class="navigation-bar">
	        <div id="navigation-container">
	            <img src="{{ url_for('static', filename='img/logo.png') }}" width="5%" height="5%"> 
	            <ul>
	                <li><a href="{{ url_for('home') }}">Home</a></li>
	                <li><a href="subjects.html">Subjects</a></li>
	                <li><a href="{{ url_for('search_page') }}">Search</a></li>
	                <li><a href="#">Team #17</a></li>
	            </ul>
	        </div>
    	</div>
    	<!-- // -->

    	<div class="banner-area">
            <div class="welcome_message">

              <h4>This is...</h5>
              <h1>PostgraDB</h1>
              <p>
                Over 50000 posgraduate programs available for you from over 4000 Universities all around the world!
              </p>
              
              <a href="{{ url_for('search_page') }}" class="primary-btn">discover now</a>
            </div>

            <div class="main_image">
            	<img src="{{ url_for('static', filename='img/students.jpg') }}", alt="university students" height= "450" width= "700">
            </div>
	            
      	</div>
	</body>
</html>